@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#content {
    display: flex;
}

#container_1 {
    background-color: #1e213a;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 30%;
    padding: 0 60px;
}

#container_2 {
    background-color: #100E1D;
    width: 70%;
    padding: 40px 170px;
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media  screen and (max-width: 767px) {
    #content {
        display: flex;
        flex-direction: column;
        
    }

    #container_1 {
        width: 100%;
    }

    #container_2 {
        width: 100%;
    }
}