@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#content {
    display: flex;
}

#container_1 {
    background-image: url('/Cloud-background.png');
    background-repeat: no-repeat;
    background-position: 55% 20%;
    background-color: #1e213a;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 30%;
    padding: 0 60px;
}

#container_2 {
    background-color: #100E1D;
    width: 70%;
    padding: 40px 170px;
}


/*===== MEDIA SCREEN =====*/

@media screen and (max-width: 767px) {
    #content {
        display: flex;
        flex-direction: column;

    }

    #container_1 {
        width: 100%;
        padding: 20px 10%;

    }

    #container_2 {
        width: 100%;
        padding: 40px 10%;

    }

    #week-container {
        gap: 32px;
        justify-content: center;
        flex-wrap: wrap;
    }

    #box-status {
        justify-content: center;
    }

    #devtag {
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    #content {
        display: flex;
        flex-direction: column;

    }

    #container_1 {
        width: 100%;
        padding: 20px 10%;

    }

    #container_2 {
        width: 100%;
        padding: 40px 10%;

    }

    #week-container {
        gap: 32px;
        justify-content: center;
        flex-wrap: wrap;
    }

    #box-status {
        justify-content: center;
        gap: 32px;
    }

    #devtag {
        flex-wrap: wrap;
        justify-content: center;
    }
}