.searchbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
}

#btnSearch {
    background-color: #6e707a;
    color: #e7e7eb;
    border: none;
    width: 161px;
    height: 40px;
}

#btnSearch:hover {
    background-color: #6e707ab4;
}

.btn-L {
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 5px;
    background-color: #6e707a;
    color: #e7e7eb;
    border: none;
}

.btn-L:hover {
    background-color: #6e707ab4;
}

.fa-location-crosshairs {
    width: 24px;
    height: 24px;
}

/*===== BOX SIDE SEARCH =====*/

.fa-xmark {
    color: #E7E7EB;
    width: 24px;
    height: 24px;

}

.offcanvas-header, .offcanvas-body {
    background-color: #1E213A;
    width: 430px;
}

#header-canvas {
    padding-bottom: 0;
}

#body-canvas {
    padding-top: 0;
}



.fa-magnifying-glass {
    color: #616475;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 73px;
    bottom: 0;
    left: 25px;
    right: 0;
    z-index: 1;
}

.box-search {
    position: relative;
}

.box-search {
    background-color: #1E213A;
    color: #e7e7eb;
    border: 1px solid #E7E7EB;
    width: 252px;
    height: 48px;
    margin-right: 10px;
}


input[type="search"] {
    padding-left: 50px;
}

.btn-search {
    background: #3C47E9;
    border: none;
    color: #E7E7EB;
    font-size: 16px;
    width: 86px;
    height: 48px;
}


.btn-search:hover {
    background-color: #3c48e9b7;
}


#errormg {
    color: red;
    padding: 10px;

}

.cities-box {
    padding-top: 50px;
}

.cities-box p {
    display: flex;
    align-items: center;
    width: 351px;
    height: 64px;
    color: #E7E7EB;
    cursor: pointer;
    padding-left: 20px;
}

.cities-box p:hover {
    border: 1px solid #616475;
}